<%- include('partials/header') %>


  <div class="main">
    <img src="../images/globe.svg" alt="oil well icon" class="icon-svg">
    <h1 class="main__heading">Petrotech.co</h1>
    <p class="main__sub-heading">Better Together.</p>
    <div class="main__line line"></div>
    <div class="main__button-wrapper">
      <a class="main__button button" href="/register" role="button">Register</a>
      <a class="main__button button button-dark" href="/login" role="button">Login</a>
    </div>

  </div>

<%- include('partials/footer') %>