<%- include('partials/header') %>
    <div class="register form_wrapper">
        <i class="fa-solid fa-lock register__icon icon"></i>
        <div class="register__line line"></div>
        <form action="" id="petro-validate">
            <span id="Perror" class="error">Enter Your Petrotech Users ID !</span>
            <input type="password" id='petrotech-id' placeholder="Petrotech ID">
            <input type="button" id="pSubmit" value="Check" onclick="validatePetro()">
        </form>
        
        <form action="/register" class="register-form" method="post">
            <span id="error" class="error">LETS GO!</span>
            <input type="text" placeholder="Username" name="username" required />
            <input type="password" id="pass" placeholder="Password" name="password" onchange="validatePassword()" required />
            <input type="password" id="cPass" placeholder="Confirm Password" name="confirmPassword" onchange="validatePassword()" />
            <button class="register__button button" type="submit">Register</button>
        </form>

    </div>

<%- include('partials/footer') %>