*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --color-background: #c9d0d6;
  --border-radius: 5px;
  --gap: 1.25rem;
  --gap-lg: 2.5rem;
  --top-space: -10rem;
}


html {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', "IBM Plex Sans Arabic", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: var(--color-background) !important;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* ICON */

.icon {
  font-size: 8.2rem !important;
}

.icon-svg {
  width: 10rem;
  height: 10rem;
}

/* LINE */

.line {
  height: 1px;
  background-color: rgba(000, 000, 000, 0.2);
}

/* BUTTON */

.button,
.button:link,
.button:visited {
  font-family: 'Quicksand', "IBM Plex Sans Arabic", sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 1.15rem 2rem;
  border-radius: var(--border-radius);
  background: #eee;
  color: #333;
  text-decoration: none;
  font-weight: 300 !important;

  /* button tag */
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  gap: 1rem;

}

.button:focus-visible {
  outline: 1px solid rgba(95, 86, 86, 0.4) !important;
}

.button-dark {
  background: #36426a !important;
  color: #eee !important;
}

.button-light {
  background: #eee !important;
  color: #333 !important;
}

.button-sage {
  background: #9d3f3f!important;
  color: #eee !important;
}
.button-success {
  background: #3c8c36 !important;
  color: #eee !important;
}
.button-success-2 {
  background: #7f7f7f !important;
  color: #eee !important;
}

.button-lg {
  min-width: 20rem;
  font-size: 2.15rem;
}

.button-delete {
  padding: .5rem;
}

.button-delete i {
  margin: 0;
  font-size: 1.5rem;
}


/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--top-space);

}

.main * {
  font-weight: 300;
  font-size: 2rem;
}

.main__heading {
  font-size: 6rem;
  font-weight: 300;
  @media (width < 600px) {
    font-size: 4.5rem;
  }
}
.main__sub-heading {
  font-size: 2rem;
  /* border-bottom: 1px solid rgba(000, 000, 000, 0.2); */
}

.main__line {
  width: 70vw;
}
.main__button-wrapper {
  display: flex;
  gap: 1rem;
}


/* LOGIN */
.login__form {
  font-size: 2.5rem;
}

.login__line {
  width: 30vw;
  min-width: 100%;
}
.login__button {
  font-size: 1.75rem;
}


::placeholder {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 300;
}


/* REGISTER */

.register-form {
  display: none;
}

#petro-validate h3 {
  color: green;
  font-size: 1.75rem;
  font-weight: 500;
}

.register-form.show {
  display: flex;
}

.register__line {
  width: 30vw;
  min-width: 100%;
}

.register__button {
  font-size: 1.75rem;
}
.register__button[disabled] {
  filter: opacity(.7);
  cursor: not-allowed;
}


/* FORM */


.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  text-align: center;
  margin-top: var(--top-space);
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
form input {
  border: 1px solid rgba(95, 86, 86, 0.4);
  background-color: rgba(84, 79, 79, 0.2);
  border-radius: var(--border-radius);
  padding: 1.25rem 2rem;
  text-align: center;
  color: rgb(19, 16, 16);
  font-weight: 300;
  font-size: 1.75rem;
  @media (width < 600px) {
    width: 20rem;
  }

}


/* ERROR */

.error {
  visibility: hidden;
  font-size: 1.75rem;
  color: rgb(36, 133, 36);
  font-weight: 500;
}

.error.show {
  visibility: visible;
}

#Perror {
  display: inline-block;
  visibility: visible;
}


/* DATA PAGE */

.data__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
  align-items: center;
}

.data__icon {
  color: #447ba5;
}

.action__buttons {
  margin-top: 7.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}


/* ADD */


.add__wrapper {
  text-align: center;
  font-size: 3rem;
}


/* OWNER */

.owner__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.owner__wrapper a {
  @media (width < 600px) {
    padding: .75rem 1rem;
  }
}

.owner__wrapper a i {
  @media (width < 600px) {
    display: none;
  }
}

.owner {
  height: 100vh;
}

.owner__table {
  display: grid;
  grid-template-columns: .6fr 1fr;
  row-gap: var(--gap);
  width: 100%;
  @media (width < 600px) {
    grid-template-columns: min-content 1fr;
  }
}

.owner__item {
  background: rgba(51, 51, 51, 0.1);
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);

    @media (width < 600px) {
      padding: .5rem;
      font-size: 1.5rem;
    }

}

.owner__item:nth-child(odd) {
  justify-content: flex-start;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.owner__item-dark {
  background: rgba(51, 51, 51, 0.2);
}

.owner__action-buttons {
  margin-top: 0;
}

.owner__item form{
  display: inline-block;
}

.owner__item form button {
  padding: 0 1.25rem;
  min-height: 3rem;
  height: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.owner__item:has(form) {
  padding: .75rem 2rem;
}

.owner__line {
  width: 100%;
  height: 2px;
}

/* Table */

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}


.table-wrapper a {
  @media (width < 600px) {
    padding: .75rem 1rem !important;
  }
}

.table {
  font-size: 2rem;
  font-weight: 300;
  border-spacing: 2;
  border-collapse: collapse;
  font-family: 'Quicksand', "IBM Plex Sans Arabic", sans-serif;
}


.table thead tr th {
  padding: 1rem 1.5rem;
  font-weight: 700;
  @media (width < 600px) {
    padding: .5rem .75rem;
    padding: .25rem;
    font-size: 1.25rem;
  }
}


.table tbody tr td {
  padding: 1rem 1.5rem;
  text-align: center;
  @media (width < 600px) {
    padding: .5rem .75rem;
    padding: .5rem;
    font-size: 1.5rem;
  }
  @media (width < 300px) {
    font-size: 1.2rem;
  }
}
.table tbody tr td form {
  align-items: center;
}
.table tbody tr td form button,
.table tbody tr td a {
  padding: .75rem !important;
  font-size: 1.2rem !important;
}


.table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
}

.deleted-table tbody tr td:nth-child(5n) {
  text-align: right;
}
.deleted-table thead tr th:nth-child(5n) {
  text-align: right;
}

.deleted-table thead tr th:nth-child(4) {
  @media (width < 600px) {
    display: none;
  }
}
.deleted-table tbody tr td:nth-child(4) {
  @media (width < 600px) {
    display: none;
  }
}


.all-owners-table thead tr th:first-child {
  @media (width < 600px) {
    display: none;
  }
}
.all-owners-table tbody tr td:first-child {
  @media (width < 600px) {
    display: none;
  }
}

.total-table {
  width: 50vw;
  min-width: 20rem;
  font-size: 2.25rem;
}


/* POPUP */


.popup {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgb(111 111 111 / 71%);;
  font-size: 2rem;
  z-index: 1000;
  display: none;
}


.popup__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: .5rem;
  transition: all .2s;
}
.popup.show {
  display: flex;
}

.popup__content {
  position: relative;
  border-radius: var(--border-radius);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  background-color: #d6d6d6;
}